@model GodRun_API_el_bueno_.ViewModels.CommentsViewModel;

@{
    ViewData["Title"] = "All comments";
}

<!--View for displaying comments made-->

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Comment:
            </th>
            <th>
               Player:
            </th>
            <th>
                User
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.comments) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jokalaria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.comment_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.comment_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.comment_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
