@model GodRun_WebApi.ViewModels.PartidaViewModel;
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <p>puntuazioa</p>
            </th>
            <th>
                <p>kills</p>
            </th>
            <th>
                <p>time</p>
            </th>
            <th>
                <p>date</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.partidak.OrderByDescending(a => a.puntuazioa))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.puntuazioa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.kills)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
        @await Component.InvokeAsync("Comments") 
    </tbody>
</table>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
