@model IEnumerable<GodRun_WebApi.Models.Partida>

@{
    ViewData["Title"] = "Partidak";
}



@foreach (var item in Model)
{
    @if (item.puntuazioa > 50000)

    {

        <!--  @Html.ActionLink(item.employee.name, "Partida", "Index", new { langilea = item.employee.name }) -->
        <a class="dropdown-item" asp-controller="Partida" asp-action="Index" asp-route-langilea="@item.employee.name"> @Html.DisplayFor(modelItem => item.employee.name)</a>
    }
}


<!--
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.puntuazioa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kills)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.puntuazioa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.kills)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
    -->
