@model GodRun_WebApi.ViewModels.PartidaViewModel;
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <p>puntuazioa</p>
            </th>
            <th>
                <p>kills</p>
            </th>
            <th>
                <p>time</p>
            </th>
            <th>
                <p>date</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       
        @if (Model.partidak.Count <= 10)
        {
            @foreach (var item in Model.partidak.OrderByDescending(a => a.puntuazioa))
            {
           
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.puntuazioa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.kills)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.date)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }



        }
        else
        {
            @for (int index = 0; index < 10; index++)
            {
                @partidak.Add(Model.partidak.OrderByDescending(a => a.puntuazioa).ElementAt(index))
                <tr>
                    <td>

                        @Html.DisplayFor(modelItem => Model.partidak.OrderByDescending(a => a.puntuazioa).ElementAt(index).puntuazioa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.partidak.OrderByDescending(a => a.puntuazioa).ElementAt(index).kills)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.partidak.OrderByDescending(a => a.puntuazioa).ElementAt(index).time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.partidak.OrderByDescending(a => a.puntuazioa).ElementAt(index).date)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
<a asp-controller="Report" asp-action="PrintIt" asp-route-partidak="@partidak" asp-route-type="Hall Of Fame">PDF</a>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
